/*CONTENIDO BASE*/
.content{ 
  flex:1; 
  display:flex; 
  gap:24px; 
  padding:40px; 
}
.form-box{ 
  width:40%; 
  padding:40px; 
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  background:#fff; 
  border:1px solid #e9e3d9; 
  border-radius:10px; 
  box-shadow:0 6px 16px rgba(196,145,124,.12); 
}
.image-box{ 
  width:60%; 
  background:#e9e1d9; 
  border-radius:10px; 
}

.imagen{
  width: 100%;
}

/* Tipos */
h1,h2,h3{ 
  color:var(--c-primary); 
  margin:0 0 16px; 
}
label{ 
  display:block; 
  margin-bottom:6px; 
  font-size:15px; 
  color:var(--c-dark); 
}

/* Inputs */
input[type="text"],input[type="password"],input[type="number"],input[type="email"]{
  width:100%; 
  padding:10px; 
  border:1px solid #d6dce1; 
  border-radius:6px; 
  font-size:15px; 
  background:#fff;
}
input:focus{ 
  outline:none; 
  border-color:#ccb4a8; 
  box-shadow:0 0 0 3px rgba(196,145,124,.15); 
}

/* Botones */
.btns{ 
  display:flex; 
  gap:12px; 
  margin-top:15px; 
}
.btn{
  background:var(--c-primary); 
  border:none; 
  padding:12px 20px; 
  border-radius:8px; 
  color:#fff;
  font-weight:800; 
  font-size:15px; 
  cursor:pointer; 
  transition:transform .05s ease, background .15s ease;
}
.btn:hover{ 
  background:var(--c-dark); 
}
.btn:active{ 
  transform:translateY(1px); 
}

.message{ 
  margin-top:12px; font-size:.95em; 
}

/*TABLA*/
.card, .tabla-container{
  background:#fff; 
  border:1px solid #e9e3d9; 
  border-radius:10px; 
  padding:20px;
  box-shadow:0 6px 16px rgba(196,145,124,.12);
}



